/* Light Mode (Default) */
body {
  font-family: 'Arial', sans-serif;
  background-color: white;
  color: black;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: white;
}

.navbar {
  position: fixed;
  width: 100%;
  background: #333;
  color: white;
  padding: 10px 0;
}

.navbar.dark {
  background: #000; /* Dark navbar */
}

.navbar li a {
  color: white;
}

section {
  min-height: 100vh;
  padding: 100px 20px;
  padding-top: 80px;
  padding-bottom: 50px;
}

/* Dark Mode for Sections */
body.dark-mode section {
  background-color: #1e1e1e;
}
